[tool.poetry]
name = "kirlent_docutils"
version = "0.1.1"
description = "Custom writers for docutils."
readme = "README.rst"

authors = ["H. Turgut Uyar <uyar@tekir.org>"]
license = "BSD-3-Clause"

homepage = "https://tekir.org/kirlent_docutils/"
repository = "https://repo.tekir.org/kirlent/kirlent_docutils"

keywords = ["markup", "html", "rst", "restructuredtext", "docutils"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Environment :: Console",
    "Intended Audience :: End Users/Desktop",
    "License :: OSI Approved :: BSD License",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.9",
    "Topic :: Text Processing :: Markup",
    "Topic :: Text Processing :: Markup :: HTML"
]

packages = [
    { include = "kirlent" }
]

[tool.poetry.dependencies]
python = "~=3.9"
docutils = ">=0.17"

[tool.poetry.dev-dependencies]
pytest = ">=5"
pytest-cov = ">=3"
flake8 = ">=3"
flake8-isort = ">=4"
tox = ">=3"

[tool.poetry.scripts]
rst2kirlenthtml5 = "kirlent.docutils:publish_cmdline_html5"
kirlent2impressjs = "kirlent.docutils:publish_cmdline_impressjs"
kirlent2revealjs = "kirlent.docutils:publish_cmdline_revealjs"

[tool.isort]
lines_after_imports = 2
known_test = "pytest,unittest"
sections = "TEST,STDLIB,THIRDPARTY,FIRSTPARTY,LOCALFOLDER"

[tool.tox]
legacy_tox_ini = """
[tox]
envlist = py{310,39}, style
isolated_build = True

[testenv]
deps =
    pytest
commands =
    pytest {posargs:tests}

[testenv:coverage]
deps =
    {[testenv]deps}
    pytest-cov
commands =
    pytest --cov={envsitepackagesdir}/kirlent/docutils --cov-report=term-missing tests

[testenv:style]
deps =
    flake8
    flake8-isort
commands =
    flake8 kirlent/docutils
"""

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
