html {
  font-size: 45px;
  line-height: 2;
}

.step {
  width: 1125px;
  height: 795px;
}

#impress .step .substep {
  opacity: 0;
}

#impress .step .substep.substep-visible {
  opacity: 1;
  transition: opacity 1s;
}
