*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
}

ul[role='list'],
ol[role='list'] {
  padding: 0;
  list-style-type: none;
}

img,
video,
svg {
  max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    background-attachment: initial !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
    animation-duration: 1ms !important;
    animation-delay: -1ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
