/* Kirlent minimal stylesheet for impress.js output. */

img {
  display: block;
}

.substep {
  opacity: 0;
}

.substep.substep-visible {
  opacity: 1;
  transition: opacity 1s;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    transition-duration: 0s !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
