
/* Kirlent minimal stylesheet for HTML5 output. */

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family, system-ui);
}

code,
kbd,
samp,
pre
span.literal {
  font-family: var(--font-family-mono, ui-monospace);
}

:where(li, dd, td, th) > * {
  margin: 0;
}

ol.arabic {
  list-style-type: decimal;
}

ol.loweralpha {
  list-style-type: lower-alpha;
}

ol.upperalpha {
  list-style-type: upper-alpha;
}

ol.lowerroman {
  list-style-type: lower-roman;
}

ol.upperroman {
  list-style-type: upper-roman;
}

/* Kirlent plain stylesheet for HTML5 output. */

body {
  line-height: var(--line-height, 1.5);
}

img, svg {
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
}

html:focus-within {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    transition-duration: 0s !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}

/* Kirlent base stylesheet for slides output. */

body {
  font-size: var(--font-size, 2rem);
}

em {
  color: var(--color-emphasis, red);
  font-style: normal;
}

.slide .content {
  display: grid;
}

/* Kirlent base stylesheet for impress.js output. */

.substep {
  opacity: 0;
}

.substep.substep-visible {
  opacity: 1;
  transition: opacity 1s;
}
