/* Kirlent minimal stylesheet for HTML5 output. */

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img, svg {
  max-width: 100%;
  height: auto;
}

:where(li, dd, td, th) > * {
  margin: 0;
}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
}

ol.arabic {
  list-style-type: decimal;
}

ol.loweralpha {
  list-style-type: lower-alpha;
}

ol.upperalpha {
  list-style-type: upper-alpha;
}

ol.lowerroman {
  list-style-type: lower-roman;
}

ol.upperroman {
  list-style-type: upper-roman;
}

html:focus-within {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    transition-duration: 0s !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}

/* Kirlent plain stylesheet for HTML5 output. */

body {
  padding: var(--pb, 1rem) var(--pi, 1rem);
  font-family: var(--ff, sans-serif);
  font-size: var(--fs, 1rem);
  line-height: var(--lh, 1.5);
}

code,
kbd,
samp,
pre,
.literal {
  font-family: var(--cf, monospace);
}

td,
th {
  padding: var(--cpb, 0.25rem) var(--cpi, 0.5rem);
}
