/* Kirlent minimal stylesheet for HTML5 output. */

:where(li, dd, td, th) > * {
  margin: 0;
}

span.literal {
  font-family: monospace;
}

ol.arabic {
  list-style-type: decimal;
}

ol.loweralpha {
  list-style-type: lower-alpha;
}

ol.upperalpha {
  list-style-type: upper-alpha;
}

ol.lowerroman {
  list-style-type: lower-roman;
}

ol.upperroman {
  list-style-type: upper-roman;
}
