/* Kirlent minimal stylesheet for HTML5 output. */

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

code,
kbd,
samp,
pre,
span.literal {
  font-family: ui-monospace, monospace;
}

img {
  max-width: 100%;
}

:where(li, dd, th, td) > * {
  margin: 0;
}

ol.arabic {
  list-style-type: arabic;
}

ol.loweralpha {
  list-style-type: lower-alpha;
}

ol.upperalpha {
  list-style-type: upper-alpha;
}

ol.lowerroman {
  list-style-type: lower-roman;
}

ol.upperroman {
  list-style-type: upper-roman;
}

:where(dl.docinfo, dl.field-list) {
  display: grid;
  grid-template-columns: max-content 1fr;
}

:where(dl.docinfo, dl.field-list) dt {
  font-weight: bold;
}

thead {
  border-block-end-style: solid;
}

th,
td {
  padding: 0.25rem 0.5rem;
}
