/* Kirlent minimal stylesheet for HTML5 output. */

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:where(li, dd, th, td) > * {
  margin: 0;
}

img {
  max-width: 100%;
}

ol.arabic {
  list-style-type: decimal;
}

ol.loweralpha {
  list-style-type: lower-alpha;
}

ol.upperalpha {
  list-style-type: upper-alpha;
}

ol.lowerroman {
  list-style-type: lower-roman;
}

ol.upperroman {
  list-style-type: upper-roman;
}
