/* Kirlent plain stylesheet for HTML5 output. */

body {
  padding: 1rem;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

code,
kbd,
pre,
samp,
span.literal {
  font-family: ui-monospace, monospace;
}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
}

th,
td {
  padding: 0.5em;
}
