/* Kirlent plain stylesheet for HTML5 output. */

body {
  padding: 1rem;
  line-height: 1.5;
}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
}

tbody tr {
  border-block-end-style: solid;
}
