/* Kirlent base stylesheet for slides output. */

p,
li {
  line-height: calc(1.333 * var(--lh, 1.5));
}

em {
  color: var(--emc, red);
  font-style: normal;
}

.code {
  overflow: auto;
}

.slide .content {
  max-height: var(--cmh, 100%);
  overflow: auto;
}

.slide .content.grid {
  display: grid;
  grid-gap: var(--cgg, 1em);
}
