main {
  display: grid;
  grid-auto-flow: column;
  height: 100dvh;
  overflow: hidden;
  scroll-snap-type: x mandatory;
}

.slide {
  width: 100dvw;
  height: 100dvh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
