/* Kirlent minimal stylesheet for HTML5 output. */

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family, system-ui);
}

code,
kbd,
samp,
pre
.literal,
.pre {
  font-family: var(--font-family-mono, ui-monospace);
}

:where(li, dd, td, th) > * {
  margin: 0;
}

ol.arabic {
  list-style-type: decimal;
}

ol.loweralpha {
  list-style-type: lower-alpha;
}

ol.upperalpha {
  list-style-type: upper-alpha;
}

ol.lowerroman {
  list-style-type: lower-roman;
}

ol.upperroman {
  list-style-type: upper-roman;
}
