/* Kirlent plain stylesheet for HTML5 output. */

body {
  font-family: system-ui, sans-serif;
}

code,
kbd,
samp,
pre
.literal,
.pre {
  font-family: ui-monospace, monospace;
}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
}
