/* Kirlent properties stylesheet for all outputs. */

:root {
  --font-family: ...;
  --font-family-mono: ...;
  --font-size: ...;
  --padding-content: ...;
  --line-height: ...;
  --color-emphasis: ...;
}
