/* Kirlent base stylesheet for slides output. */

body {
  font-size: var(--font-size, 2rem);
}

em {
  color: var(--color-emphasis, red);
  font-style: normal;
}

.slide .content {
  display: grid;
}
